[project]
	description = Test Repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amitkumarbali (amitbwy)
[access "refs/for/refs/*"]
	read = group user/amitkumarbali (amitbwy)
	push = group user/amitkumarbali (amitbwy)
	label-Code-Review = -2..+2 group user/amitkumarbali (amitbwy)
	label-Verified = -1..+1 group user/amitkumarbali (amitbwy)
	rebase = group user/amitkumarbali (amitbwy)
	removeReviewer = group user/amitkumarbali (amitbwy)
	submit = group user/amitkumarbali (amitbwy)
[access "refs/heads/*"]
	read = group user/amitkumarbali (amitbwy)
	create = group user/amitkumarbali (amitbwy)
	push = +force group user/amitkumarbali (amitbwy)
	pushMerge = group user/amitkumarbali (amitbwy)
[access "refs/tags/*"]
	push = +force group user/amitkumarbali (amitbwy)
	pushTag = group user/amitkumarbali (amitbwy)
	pushSignedTag = group user/amitkumarbali (amitbwy)
