[project]
	description = Test Repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amitbwy
[access "refs/for/refs/*"]
	read = group user/amitbwy
	push = group user/amitbwy
	label-Code-Review = -2..+2 group user/amitbwy
	label-Verified = -1..+1 group user/amitbwy
	rebase = group user/amitbwy
	removeReviewer = group user/amitbwy
	submit = group user/amitbwy
[access "refs/heads/*"]
	read = group user/amitbwy
	create = group user/amitbwy
	push = +force group user/amitbwy
	pushMerge = group user/amitbwy
[access "refs/tags/*"]
	push = +force group user/amitbwy
	pushTag = group user/amitbwy
	pushSignedTag = group user/amitbwy
